In [ ]:
n = int(input("Enter n value: "))
start = 2
for _ in range(n):
    num = start*start
    if num%12 != 0:
        print(num)
    start+=2

In [5]:
stuff = ['x',10,"ganja",10.2]
stuff.pop(2)
print(stuff)

['x', 10, 10.2]

In [9]:
random = ["bananananana","because i am batman","half girlfriend"]
print(type(random))

<class 'list'>

In [11]:
random = ["bananananana","because i am batman","half girlfriend"]
print(random[-3])

bananananana

In [13]:
random = ["bananananana","because i am batman","half girlfriend","Nutty Chocolate","Black Chocolate"]
print(random[2:6])

['half girlfriend', 'Nutty Chocolate', 'Black Chocolate']

In [14]:
random = ["bananananana","because i am batman","half girlfriend","Nutty Chocolate","Black Chocolate"]
print(random[:4])

['bananananana', 'because i am batman', 'half girlfriend', 'Nutty Chocolate']

In [16]:
random = ["bananananana","because i am batman","half girlfriend","Nutty Chocolate","Black Chocolate"]
print(random[-5:-2])

['bananananana', 'because i am batman', 'half girlfriend']

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [20]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2,"watermelon") 
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = [ "watermelon"]
print(thislist)

['apple', 'watermelon']

In [21]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [23]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [24]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [25]:
#unpacking a tuple
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [26]:
#unpacking a tuple
#asterisks used to make list of remaining elements
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [27]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [28]:
numbers = []
for _ in range(5):
    numbers.append(int(input()))

numbers.append(int(input()))
numbers.append(int(input()))
numbers.pop()
print(numbers)

[1, 2, 3, 4, 5, 6]

In [33]:
numbers = []
n = int(input("Enter the number of elements:"))
for _ in range(n):
    numbers.append(int(input()))
print(max(numbers))
print(min(numbers))
print(sum(numbers))

5
1
15

In [42]:

n = int(input("Enter the number of elements:"))
numbers = []
for _ in range(n):
    numbers.append(int(input()))
print(set(numbers))

{1, 2, 3, 4}

In [ ]:
studGrad = {
    "Name" : "kritharth",
    "Marks" : [100,100,100]
}